doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    article
      block content
    footer 
      pre Glacier API - AICEVOTE API SERVER
      pre made by 
        a(href="https://twitter.com/yujixr") yuji
